$link-decoration: none;

// Color
$dark: #273444;

// Transparency
$t-1: #fcfcfc18;
$tb-1: #00000024;
$tb-2: #00000080;
$t-2: #fcfcfc90;
$t-3: #eaecf340;
.t-1{background: $t-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.tb-1{background: $tb-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.tb-2{background: $tb-2 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.t-2{background: $t-2 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.t-3{background: $t-3 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.t-1 label, .t-2 label, .t-3 label{
    color: $dark
}

// Rounded
$r-1: .375rem;
$r-2: $r-1*2;
.r-1{border-radius: $r-1 !important;}
.r-2{border-radius: $r-2 !important;}


